@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;
}
.rdrCalendarWrapper {
  border-radius: 22px;
  box-shadow: 5px 15px 15px #ddd;
}
.rdrCalendarWrapper,
.rdrMonth {
  width: 100%;
}

/* Hide number input arrows */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

/* Auto width for number input */
.dynamic-width {
  width: auto;
  min-width: 2ch; /* ensures space for at least one digit */
  max-width: 10ch; /* limits it from stretching too far */
  transition: width 0.1s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
.animate-shake {
  animation: shake 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s;
}
